@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

:root {
  --transition--: 0.5s cubic-bezier(1, 0, 0, 1);
  --blackDeep--: #212121;
  --blackLight--: #424242;
  --whiteColor--: #ffffff;
  --boxShadow--: rgba(0, 0, 0, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  background: var(--blackDeep--);
}
a {
  position: relative;
  width: 160px;
  height: 50px;
  margin: 15px 10px;
  background: var(--blackLight--);
  border-radius: 0.2rem;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
 
  transition: var(--transition--);
  overflow: hidden;
}

a::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 4px;
  height: 100%;
  background: rgb(84, 168, 0);
  transition: var(--transition--);
  transition-delay: 0.5s;
}
a::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 4px;
  height: 100%;
  background: rgb(84, 168, 0);
  transition: var(--transition--);
  transition-delay: 0.5s;
}
a:nth-child(2)::before,
a:nth-child(2)::after {
  background-color: crimson;
}
a:hover::before,
a:hover::after {
  width: 50%;
  transition-delay: 0s;
}
a span {
  position: absolute;
  z-index: 1;
  font-size: 1.1rem;
  transition: var(--transition--);
  color: var(--whiteColor--);
}
a span:nth-child(1) {
  transition-delay: 0.2s;
}
a:hover span:nth-child(1) {
  transform: scale(0);
  transition-delay: 0s;
}
a span:nth-child(2) {
  transform: scale(3);
  opacity: 0;
  color: var(--blackDeep--);
  transition-delay: 0s;
}
a:hover span:nth-child(2) {
  transform: scale(1);
  transition-delay: 0s;
  opacity: 1;
  z-index: 10;
  transition-delay: 0.2s;
  
}
