@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

:root {
  --transition--: 0.5s cubic-bezier(1, 0, 0, 1);
  --box-shadow--: 10px 10px 2px rgba(5, 0, 0, 0.25);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(140deg, #212121, #424242);
}
.card {
  position: relative;
  width: 300px;
  height: 400px;
  background: #fff;
  transform-style: preserve-3d;
  transform: perspective(1000px);
  box-shadow: var(--box-shadow--);
  transition: var(--transition--);
}

.card:hover{
    transform: translateX(150px);
}

.card .imgBox{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    transform-origin: left;
    transform-style: preserve-3d;
    background-color: #000;
    transition: var(--transition--);
    box-shadow: var(--box-shadow--);
}

.card:hover .imgBox{
    transform: rotateY(-180deg);
    cursor: pointer;
}

.card .imgBox img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

.card .imgBox img:nth-child(2){
    transform: rotateY(180deg);
    cursor: pointer;
}

.card .details {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card .details .content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card .details .content h2{
    text-align: center;
    font-weight: 700;
    line-height: 1em;
}
.card .details .content h2 span{
    color: coral;
    font-size: 0.8em;
}
.card .details .content .social__icons{
    position: relative;
    display: flex;
    margin-top: 10px;
}
.card .details .content .social__icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    background: #212121;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 5px;
    border-radius: 5px;
    font-size: 20px;
    transition: var(--transition--);
}
.card .details .content .social__icons a:hover{
    background: coral;
    transform: rotate(360deg);
}
