@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Dancing+Script:regular,500,600,700);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root{
  --darkPurple--: rgb(37, 6, 51);
}
body {
  background-color: rgb(234, 189, 255);
  padding: 2rem;
}
.container {
  background-color: #fff;
  border-radius: 2rem;
  padding: 2rem;
  padding-left: 4rem;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .logo{
  display: flex;
  align-items: center;
}
.header .logo h4{
  font-family: 'Dancing Script', cursive;
  color: rgb(67, 13, 92);
  font-weight: 600;
  font-size: 1.5rem;
}
.header .logo img{
  width: 15%;
}
.shoppping__cart {
  background-color: var(--darkPurple--);
  padding: 0.4rem;
  padding-bottom: 0.8rem;
  border-radius: 0.4rem;
  border-bottom-right-radius: 1.4rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header .menues {
  display: flex;
  align-items: center;
  margin-right: 4rem;
}
.header .menues .link {
  list-style: none;
  margin-right: 2rem;
  color: rgb(113, 72, 133);
}
.header .menues .link:nth-child(1){
  color: var(--darkPurple--) !important;
  border-bottom: .1rem solid var(--darkPurple--);
  font-weight: 600;
}
.jumbotron{
  display: flex;
  align-items: center;
}
.jumbotron .left__side{
  width: 50%;
  padding: 4rem 0;
  color: var(--darkPurple--);
}
.jumbotron .left__side h6{
  font-weight: 400;
  font-size: .9rem;
}
.jumbotron .left__side h3{
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 4.9rem;
}
.jumbotron .left__side span{
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2.9rem;
}
.jumbotron .left__side .line{
  background-color: var(--darkPurple--);
  height: 1px;
  width: 40px;
}
.jumbotron .left__side p{
  font-size: .9rem;
  font-weight: 300;
  line-height: 1.2rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.jumbotron .left__side button{
  background: var(--darkPurple--);
  padding: .9rem 2.6rem;
  font-size: .8rem;
  font-weight: 400;
  letter-spacing: .2rem;
  border-radius: 2rem;
  color: #fff;
  border: .1rem solid var(--darkPurple--);
  text-transform: uppercase;
  box-shadow: .1rem .9rem .9rem rgb(234, 189, 255);
  cursor: pointer;
}
.jumbotron .left__side button:hover{
  transition: 0.5s cubic-bezier(1,0,0,1);
  background: #fff;
  color: var(--darkPurple--);
  transform: translateX(10px);
}
.jumbotron .right__side{
  display: flex;
  align-items: flex-end;
}
.jumbotron .right__side img{
  width: 600px;
  height: 600px;
  margin-left: 2rem;
}

.slider{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 3rem 0;
}
.slider__list {
  display: flex;
  align-items: center;
  overflow-y: hidden;
  overflow-x: scroll;
}
.slider__list::-webkit-scrollbar{
  display: none;
}
.slider__slide{
  object-fit: contain;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider__slide img {
	width : 200px;
	height: 200px;
  cursor: pointer;
}
.slider__slide img:hover{
  transform: translateY(-7px);
  transition: transform .5s;
}
.arrowRight{
  background: var(--darkPurple--);
  padding: .3rem;
  border-radius: 50%;
  cursor: pointer;
}
/* @media(max-width: 767px){
  .slider__slide img {
	width : 40px;
	height: 40px;
}
.jumbotron{
  display: block;
}
.jumbotron .right__side{
 
  align-items: center;
  justify-content: center;
}
.jumbotron .right__side img{
  width: 300px;
  height: 300px;
}
} */





/*Credits*/
.container__credit {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container__credit .credits {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
  padding: 0.7rem 1.5rem;
  border-radius: 5rem;
  background-color: #fff;
  color: var(--darkPurple--);
}
.container__credit .credits h4 {
  font-size: 0.9rem;
}
.container__credit .credits img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 0.7rem;
}
